
body { 
    margin: 10px;
    padding: 0px;
}

div.tooltip {
    position: absolute;
    text-align: left;
    width: 100px;
    height: 110px;
    padding: 2px;
    font: 12px Helvetica, sans-serif;
    background: lightcoral;
    border: 0px;
    border-radius: 5px;

}